.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.section-title {
  margin-top: 10rem;
  display: flex;
  margin-left: 7.5rem;
 font-size: 2rem;
 font-family: 'Merriweather', serif;
}

#home, #video, #description {
  padding-top: 1rem;
}

@media only screen and (min-width: 1500px) {
    body {
      max-width: 80%;
      margin: 0 auto;
    }
    .section-title {
      margin-left: 2rem;
    }
}

@media only screen and (max-width: 1104px) {
  .section-title {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .section-title {
    justify-content: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .section-title {
    font-size: 1.5rem;
}
}

@media only screen and (max-width: 411px) {
  .section-title {
    width: 90%;
  }
}
