.audio-box {
    width: 80vw;
    padding: 2rem;
    background-color: #f4f1ea;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 4rem auto 4rem auto;
    border-radius: 5px;
  }

  
  .audio-image {
      width: 500px;
      height: auto;
      margin: 2rem;
      margin-left: 7.5rem;
      box-shadow: 2px 2px 5px silver;
  }

  .sound-box {
      background-color: white;
      width: 400px;
      height: auto;
      padding-bottom: 1rem;
      font-size: .75rem;
      box-shadow: 2px 2px 5px silver;
      float: right;
      margin-top: 2.05rem;
  }

  .audio-controls {
      padding-top: 2rem;
  }

  .transcript {
      width: 75%;
      margin: 1rem auto;
  }

  @media only screen and (min-width: 1500px) {
    .audio-image {
        margin-left: 17.5rem;
        
    }
    
  }

  @media only screen and (max-width: 1315px) {
    .audio-image {
        margin-left: 2rem;
    }
  }

  @media only screen and (max-width: 1204px) {
    .sound-box {
       margin: 0 auto;
       margin-top: 1rem;
       margin-bottom: 10rem;
       float: none;
    }
    .audio-box {
        margin: 0 auto;
    }
    .audio-image {
       width: 75%;
       height: auto;
    }
    .section-title {
    padding-bottom: 2.5rem;
    }
  }

  @media only screen and (max-width: 600px) {
      .sound-box {
          width: 75%;
      }
      audio {
        width: 75%;
      }
  }