.video-box {
    width: 80vw;
    padding: 2rem;
    background-color: #f4f1ea;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto 4rem auto;
    justify-content: space-evenly;
    border-radius: 5px;
  }

  iframe {
    position: relative;
    background-color: black;
    margin: 2rem auto 0rem auto;
    width: 300px;
    height: auto;
    margin-top: -1.5rem;
  }

  .video-word-box {
    text-align: start;
    width: 250px;
    height: fit-content;
    margin: 0 auto;
    font-size: .8rem;
  }

  .video-container {
    height: fit-content;
    background-color: white;
    padding: 3rem 1rem 1rem 1rem;
    width: 300px;
    box-shadow: 2px 2px 5px silver;
    margin: 3rem auto;
  }

  

  