.App {
  text-align: center;
}

.gallery {
  margin-bottom: 4rem;
}

.image-box {
  width: 80vw;
  padding: 2rem;
  background-color: #f4f1ea;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto 0 auto;
  justify-content: space-around;
}

.gallery-image {
  width: 175px;
  height: auto;
  padding: 5px;
}

.button-box {
  background-color: #dbe3e5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 275px;
  height: 2rem;
  margin: 0rem auto 0 auto;
}

.current-page {
  margin-top: 10px;
}

.input-box {
  width: 145px;
}

#input-box-top {
  margin-top: 1rem;
  text-align: center;
}

#input-box-bottom {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}



